# Dependencies
node_modules/

# Production build outputs
dist/
dist-electron/
*.bin

# Local databases & runtime files
*.sqlite
*.sqlite3
*.db
fallback_db.json
print_logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
